html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #24305E;
}

/* Navigation bar
Color palette: A8D0E6 F8E9A1 374785 F76C6C */
ul#navigarion-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #24305E;
  position: fixed;
  top: 0;
  width: 100%;
}

li.nav-links {
  /* list-style-type: none; */
  float: left;
}

li.nav-links a {
  display: block;
  color: white;
  text-align: center;
  font-size: x-large;
  font-family: "sniglet";
  padding: 14px 16px;
  text-decoration: none;
}

li.nav-links a:hover:not(.active) {
  background-color: #24305E;
}

li.nav-links a.active {
  background-color: #BBD1EA;
  color: #24305E;
}

#content {
  height: auto;
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #BBD1EA;
  display: block;
}

/* Images in a row */
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Heading 1 */
h1 {
  color:#24305E;
  margin: 0;
  padding: 12px 30px;
  /* border-radius: 12px; */
  font-family:"Sniglet";
  text-align:center;
}

/* Paragraph */
p {
  font-family:"sniglet";
  font-size: 21px; 
  text-align:justify; 
  color:#30343f;
}

/* boton */
.button-link:link, .button-link:visited {
  font-family: "sniglet";
  border-radius: 10px;
  background-color: #F8E9A1;
  color: #30343f;
  padding: 20px 35px;
  text-align: center;
  font-size: 22px;
  text-decoration: none;
  display: inline-block;
  align-items: center;
}

.button-link:hover, .button-link:active {
  font-family: "sniglet";
  border-radius: 10px;
  background-color: #374785;
  color: white;
  text-align:center;
}

/* Slides */
.mySlides {
    display: none;
}

/* Footer */
.footer-basic {
  padding:40px 0;
  background-color:#24305E;
  color:#4b4c4d;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:16px;
  color:white;
  margin-bottom:0;
}

div.contain-button {
  display: flex; 
  align-items: center;
  justify-content: center;   
}

/* Input button */
input[type=submit], button#display {
  width: 15%;    
  background-color: #98ce00;
  font-family: "sniglet";
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

input[type=submit]:hover, button#display:hover {
  background-color: #45a049;
}

/* form styling */
input[type=text], input[type=email], input[type=tel], input[type=text] {
  width: 100%;
  font-family: "sniglet";
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size:19px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0px;
  display: inline-block;
}

.container {
  font-family: "sniglet";
  font-size: 19px;
  background-color: #fbe093;
  border-radius: 5px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

#map {
  height: 100%;
}

#map {
  height: 470px;
  width: 800px;
  display: block;
  margin: 0 auto;
}

/* #floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
} */

#task-list {
  list-style-type: none;
}

.task {
  border: thin solid black;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 600px;
}

.task span {
  flex-grow: 2;
}